* {
    font-family: DejaVu Sans Mono,Bitstream Vera Sans Mono,monospace !important;
    background-color: black;
    color: silver;
    font-size: 11pt;
    text-align:center;
}

input {
    border: 1px solid;
    padding: 0.5em;
    border-color: silver;
    background: black;
    color: lime;
    font-size: 1em;
    text-align: left;
}

button {
    border: 0;
    text-align: center;
    background: silver;
    color: green;
    font-size: 1em;
    padding: 0.5em;
}
