body {
        font-family: DejaVu Sans Mono,Bitstream Vera Sans Mono,monospace;
        background-color:#000;
        color:#fff;
        font-size:15px;
        text-align:center;
        line-height:1.2;
}